numpy==1.24
gsplat==1.5.3
imageio[ffmpeg]
matplotlib==3.10.7
scikit-learn==1.7.2
tensorly==0.9.0
ninja
cmake
git+https://github.com/harry7557558/fused-bilagrid@49f0ef06c9f81810fb9b5dd9027cf1844950cc16
torchmetrics==1.8.2
viser==1.0.13
git+https://github.com/nerfstudio-project/nerfview
pyyaml==6.0.3
tyro==0.9.33
tensorboard
splines
